---
BasedOnStyle: Google
---

Language: Cpp

AlignConsecutiveMacros: AcrossComments
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AttributeMacros: ['__', 'NO_RETURN']
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakBeforeTernaryOperators: false
ColumnLimit: 100
CommentPragmas: NOLINT:.*
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
PointerAlignment: Left
TabWidth: 2